:root {
	/* ------- colors ------- */
	--primary-color: #27272a;
	--secondary-color: #000000;
	--tertiary-color: rgb(121,43,42);
	--quaternary-color: #ebebeb;
	--link-color: #df0000;
	/* ---------------------- */

	/* ------- fonts ------- */
	--primary-font: "Heebo", sans-serif;
	--secondary-font: "Roboto", sans-serif;
	/* --------------------- */
}
